%table.table.table-striped
  %thead.thead-light
    %tr
      %th ID
      %th Description
      %th Client Name
      %th Client Address
      %th Plumber Name
      %th Plumber Address
      %th Vehicles
      %th Time Period
      %th Estimate Distance(km)
      %th Estimate Arrival Time(mins)
  %tbody
    - jobs.each do |job|
      %tr
        %td= job.id
        %td= job.description
        %td= job.client.name
        %td= job.client.address
        %td= job.plumber.name
        %td= job.plumber.address
        %td= job.plumber.vehicles
        %td= job.time_period
        %td= job.estimate_distance
        %td= job.estimate_time_by_vehicles
    